.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.message-self {
  background-color: #d1e7dd;
}

.message-other {
  background-color: #f1f1f1;
}

/* 系統訊息 */
.message-system {
  background-color: #ddd;
  font-style: italic;
  color: #555;
  text-align: center;
  padding: 5px 0;
}

.message-self,
.message-other,
.message-system {
  transition: all 0.3s ease;
}

/* 如果使用者系統是暗色模式 */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #1e1e1e;
    color: #eee;
  }

  .message-self {
    background-color: #357960;
    color: white;
  }

  .message-other {
    background-color: #444;
    color: white;
  }
}